# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Introduce common libraries used in Data Science
- Provide examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools     |
|------------------------|
| Jupyter Notebook       |
| RStudio                |
| VS Code with Python    |

In [4]:
import pandas as pd
import numpy as np
data = {'Data Science Tools': ['Rstudio', 'JupiterNotebook', 'SQL']}
data = pd.DataFrame(data)
data

  Data Science Tools
0            Rstudio
1    JupiterNotebook
2                SQL

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print(result)

17

In [15]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Thanh Thanh